body,
html {
    height: 100%;
}


/* workaround modal-open padding issue */

body.modal-open {
    padding-right: 0 !important;
}

.card {
    overflow: hidden;
}

.card-block .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-block .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.nav-tabs .nav-link.active {
    font-weight: bold;
    background-color: transparent;
    border-bottom: 3px solid #dd0000;
    border-right: none;
    border-left: none;
    border-top: none;
}

.card_small_col,
.card_large_col {
    width: 45%;
    padding-left: 10px;
    padding-right: 10px;
}

.card_large_col {
    padding-top: 10px;
}

.form_small_col,
.form_large_col,
.form_button_col {
    width: 100%;
}

.form_button_col .btn {
    margin-left: 0px;
}

.display_card_text {
    font-size: 12px;
}

.display_card_header {
    font-size: 16px;
}

.half_width {
    width: 100%;
}

.border_graph_css {
    height: 400px;
}

.item_table tr th:first-child,
.item_table tr td:first-child {
    width: 6em;
    word-break: break-all;
}

.item_table tr th:last-child,
.item_table tr td:last-child {
    display: none;
}

@media only screen and (max-width: 319px) {
    .order_table tr th:nth-child(1),
    .order_table tr td:nth-child(1) {
        width: 6em;
        word-break: break-all;
    }
    .order_table tr th:first-child~th,
    .order_table tr td:first-child~td {
        display: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 449px) {
    .order_table tr th:nth-child(1),
    .order_table tr th:nth-child(2),
    .order_table tr td:nth-child(1),
    .order_table tr td:nth-child(2) {
        width: 8em;
        word-break: break-all;
    }
    .order_table tr th:nth-child(2)~th,
    .order_table tr td:nth-child(2)~td {
        display: none;
    }
}

@media only screen and (min-width: 450px) and (max-width: 768px) {
    .order_table tr th:nth-child(1),
    .order_table tr td:nth-child(1) {
        width: 8em;
        word-break: break-all;
    }
    .order_table tr th:nth-child(3)~th,
    .order_table tr td:nth-child(3)~td {
        display: none;
    }
}


/* Tablet */

@media only screen and (min-width:450px) and (max-width:1199px) {
    .display_card_text {
        font-size: 1.5rem;
    }
    .border_graph_css {
        height: 400px;
    }
    .item_table tr th:first-child,
    .item_table tr td:first-child {
        width: 12em;
        word-break: break-all;
    }
    .item_table tr th:last-child,
    .item_table tr td:last-child {
        display: block;
    }
}


/* Desktop */

@media (min-width: 1200px) {
    .form_small_col {
        width: 10%;
    }
    .form_large_col {
        width: 50%;
    }
    .form_button_col {
        width: 15%;
        position: relative;
        left: 5px;
    }
    .card_small_col {
        width: 15%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .card_large_col {
        width: 30%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
    }
    .display_card_header {
        font-size: 20px;
    }
    .display_card_text {
        font-size: 36px;
    }
    .half_width {
        width: 50%
    }
    .border_graph_css,
    .border_table_css {
        height: 450px;
    }
    .item_table tr th:first-child,
    .item_table tr td:first-child {
        width: 12em;
        word-break: break-all;
    }
    .item_table tr th:last-child,
    .item_table tr td:last-child {
        display: block;
    }
}